node_modules
.next
dist
build
.env
.env.local
.env.development
.env.production
*.log
.DS_Store
coverage
backend/uploads
frontend/out
prisma/dev.db
prisma/prod.db
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?